<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="CommentMapper">
	<select id="makeCmtReply" parameterType="Comment" resultType="int">
		select max(repStep)
		from board_comment
		where repRoot=#{repRoot}
	</select>
	<insert id="cmtReply" parameterType="Comment">
		insert into
		board_comment(num,comment_boardnum,comment_author,comment_content,repStep,repIndent,repRoot)
		values(comment_seq.nextval,#{comment_boardnum},#{comment_author},#{comment_content},#{repStep}+1,1,#{repRoot})
	</insert>
	<insert id="cmtWrite" parameterType="Comment">
		insert into
		board_comment(num,comment_boardnum,comment_author,comment_content,repStep,repIndent,repRoot)
		values(comment_seq.nextval,#{comment_boardnum},#{comment_author},#{comment_content},0,0,comment_seq.currval)
	</insert>
	<select id="TotalCmtCount" parameterType="String"
		resultType="int">
		select count(*) from board_comment
	</select>
	<select id="cmtlist" parameterType="String" resultType="Comment">
		select
		num,comment_boardnum,comment_author,comment_content,writeday,repStep,repIndent,repRoot
		from
		board_comment
		where comment_boardnum=#{num}
		order by repRoot asc, repStep asc
	</select>
	<delete id="cmtDelete" parameterType="String">
		delete from board_comment
		where 
		num=#{_num} or reproot=#{_num}
	</delete>
	<delete id="cmtBDelete" parameterType="String">
		delete from board_comment
		where 
		comment_boardnum=#{_num}
	</delete>
	<update id="cmtUpdate" parameterType="Comment">
		update board_comment 
		set comment_content=#{comment_content}
		where num=#{num}
	</update>
</mapper>