<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ProductMapper">

	<!-- 상품 등록 -->
	<insert id="ProductAdd" parameterType="ProductDTO">
		insert into product(pcode,pimage,pname,pcontent,pCategory,pprice)
		values(#{pCode},#{pImage},#{pName},#{pContent},#{pCategory},#{pPrice})
	</insert>

	<!-- 상품 색상,사이즈 등록 -->
	<insert id="ProductAdd2" parameterType="ProductInfoDTO">
		insert into productinfo(pcode,pcolor,psize,pstock)
		values(#{pCode},#{pColor},#{pSize},0)
	</insert>

	<!-- 상품 목록 -->
	<select id="ProductList" resultType="ProductDTO">
		select*from product
	</select>
	<select id="productCategoryList" parameterType="String" resultType="ProductDTO">
		select*from product 
		where PCATEGORY = #{pCategory}
	</select>

	<!-- 상품 색상,사이즈 목록 -->
	<select id="ProductinfoList" resultType="ProductDTO">
		select*from productinfo
	</select>

	<!-- 상품 상세 목록 Product -->
	<select id="ProductDetailList" parameterType="string" resultType="ProductDTO">
		select pCode,pImage,pName,pPrice
		from product
		where pcode=#{pCode}
	</select>

	<!-- 상품 색상 목록 -->
	<select id="pColorList" parameterType="String" resultType="String">
		select pcolor
		from productinfo
		where pcode= #{pCode}
		group by pcolor
	</select>

	<!-- 상품 사이즈 목록 -->
	<select id="pSizeList" parameterType="String" resultType="String">
		select pSize
		from productinfo
		where pcode= #{pCode}
		group by psize
	</select>
	
	<!-- 상품 구매 횟수 -->
	<select id="OrderQuantity" parameterType="string" resultType="int">
	   select count(*) 
	   from orderinfo
 	   where pcode = #{pCode} 
	</select>
	
	<!-- 상품 구매 목록 -->
	<select id="ProductOrderList" parameterType="string" resultType="ProductOrderDTO">
		select*from orderinfo
		where userid = #{userid}
	</select>
	
	<!-- 장바구니 상품 삭제 -->
	<delete id="ProductOrderDel" parameterType="int">
	  delete from orderinfo
	  where num = #{num}
	</delete>
	
	<!-- 구매상품 다중선택 삭제 -->
	<delete id="ProductOrderAllDel" parameterType="arraylist">
	 delete from orderinfo
	 where num
	 IN
	 <foreach collection="list" item="item" open="(" separator="," close=")">
	  #{item}
	 </foreach> 
	</delete>
	
	<!-- 상품 구매 목록 -->
	<select id="ProductOrderDetail" parameterType="int" resultType="ProductOrderDTO">
		select*from orderinfo
		where num = #{num}
	</select>
	
	<!-- 상품 검색 -->
	<select id="ProductSearch" parameterType="string" resultType="ProductDTO">
		select*from product
		where (pcontent like '%'|| #{pSearch} || '%') or (pname like '%'|| #{pSearch} || '%')
	</select>

</mapper>