
h1{
	margin-left:80px;
}

table{
	font-family:1em,Verdana,Dotum,AppleGothic,sans-serif;
	border-collapse:collapse; 
	border:1px; 
	border-spacing:0px; 
	border-top:2px solid #e0e0e0;
	border-bottoom:3px solid #e0e0e0; 
	width:60%;
	margin-left:10%;
}

td{
	width:20px;
	padding:10px 0px 18px 18px; 
	border-bottom:2px solid#e0e0e0;
	border-left:2px;
	}

form{
	padding-left:50px;
	padding-top:80px;
	font:sans-serif;
	font-size:12px;
	margin-left:10%;
	
	}
.butt{
	padding-top:5px;
	padding-left:22%;
	width:80%;
	
	}
	
#sub{
	width:130px;
	height:50px;
	margin-left:10%;
}

#img{
	padding-left:22%;
	padding-bottom:10px;
	
}